body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOADING */
#loading {
    height: 100vh;
    background-color: brown;
    color: wheat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTEÚDO */
#conteudo {
    display: none;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}