html {
    background-color: lightgray;
}

body {
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
    background-color: white;
}

h1 {
    color: purple;
}

#codigo-produto {
    color: gray;
}

#foto-iphone13 {
    border: 2px solid black;
    padding: 10px;
}

#informacoes {
    color: gray;
}